{% extends '@App/base.html.twig' %}

{% import "@SbSAdminLTE/Layout/main_macros.html.twig" as macros %}

{% block page_header %}
    {{ macros.page_header("Contacts", "") }}
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table data-url="{{ path('ajax_contact_all') }}" id="contacts-datatable" class="projects table table-bordered table-striped dataTable dtr-inline table-responsive-lg">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th >Subject</th>
                                    <th >Message</th>
                                    <th >Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>

  {% include 'AppBundle:contact:partials/modal_add_edit.html.twig' %}

{% endblock %}

{% block javascripts_surcharge %}
    {% include 'AppBundle:contact:partials/commen_script.html.twig' %}
{% endblock %}