<div class="card">
    <div class="card-header">
        <h3 class="card-title">Option</h3>
        
    </div>
    <div class="card-body">
        <div class="card-body p-0">
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label"> isbn </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="isbn" name="isbn" value="{{ product.isbn }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label"> ean13 </label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="ean13" name="ean13" value="{{ product.ean13 }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label"> upc </label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="upc" name="upc" value="{{ product.upc }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="title" class="col-sm-2 col-form-label"> mpn </label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="mpn" name="mpn" value="{{ product.mpn }}">
                </div>
            </div>
        </div>
    </div>
</div>