{{ form_start(edit_form) }}        
    <div class="modal-body">
        {{ form_widget(edit_form) }}
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="submit" id="btn-save" class="btn btn-primary">Enregistrer</button>
    </div>
{{ form_end(edit_form) }}
