{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content_sub %}
    <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/override_simple_page.css"/>
{% endblock %}
